*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    box-shadow: 3px 3px 1px 6px #fff;
}
.navbar{
    background-color: #fff;
    color: black;
    padding: 0 10px;
    box-shadow: 3px  5px 6px #776161;
    height: 90px;
}
.logo{
    width:45px;
    height: 45px;
}
.navbar ul li a{
    color:black;
    font-size: 1rem;
    font-weight: 500;
}
.navbar ul li a:hover{
    color:chocolate;
}
.navbar ul li a i{
    margin-right: 10px;
    color: rgb(134, 37, 37) ;
    font-size: 1.2rem;
}
.button i{
    margin-right: 8px;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.carousel{
    margin-top: 5px;
}
.carousel-item{
    position: relative;
}
.content{
    top: 40%;
    left:35%;
    position: absolute;
    color: white;
    /* text-align: center;
    transform: translate(50%,50%); */
}
.heading h1{
    color: chocolate;
}
.heading span{
    color: rgb(110, 33, 48);
}
.cardp{
    box-shadow: 1px 2px 8px rgba(0 0 0/8%), -1px -2px 8px rgba(0 0 0/8%);
}
.contact_form h1{
    color: chocolate;
}
.contact_form span{
    color: rgb(134, 37, 37);
}
.footer{
    background-color: black;
    color: white;
}
.company-logo img{
    margin-top: 10px;
   background-color: white;
}
.contentt p{
    padding-top: 20px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link-heading h5{
    margin-top: 10px;
    text-align: center;
    color: chocolate;
}
.link{
    color: white;
    text-align: center;
}
.link a{
    display: block;
    color: white;
    padding-top: 10px;
}
.link a:hover{
    display: block;
    color:chocolate
}

.follow-icon{
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
}
.follow-icon a span{
    margin-left:10px;
    color: white;
}
.follow-icon a span:hover{
    background-color: white;
    color: rgb(67, 5, 5);
}

